.vscode
.setting
.DS_Store

*.pyc
__pycache__
.ipynb_checkpoints

data/geological_similarity/
!data/train_val_test_splits/*

saved_models/*
!saved_models/checkpoint_srgan.pth.tar
!saved_models/README.md